MM_05_qr_check.json
{
  "name": "MM_05_QR_Check → Allow/Deny",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=/qr-check",
        "responseMode": "responseNode"
      },
      "id": "q1",
      "name": "Webhook /qr-check",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ACCESS_CODE",
              "value": "GREEN123"
            }
          ]
        }
      },
      "id": "q2",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const qr=($json.qr||'').toString(); const allowCode=$items('Config')[0].json.ACCESS_CODE; const allow=qr.includes(allowCode)||!!$json.hasBooking; return [{json:{allow, reason: allow? 'matched':'no_match'}}];"
      },
      "id": "q3",
      "name": "Check",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200
      },
      "id": "q4",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "Webhook /qr-check": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Asia/Kolkata"
  }
}