MM_04_waste_log.json
{
  "name": "MM_04_Waste_Log → Slack + Echo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=/waste-log",
        "responseMode": "responseNode"
      },
      "id": "w1",
      "name": "Webhook /waste-log",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "SLACK_WEBHOOK_URL",
              "value": "https://hooks.slack.com/services/REPLACE"
            }
          ]
        }
      },
      "id": "w2",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const d=$json.date||new Date().toISOString().slice(0,10); const kg=Number($json.waste_reduced_kg||0); return [{json:{date:d, waste_reduced_kg:kg, text:`♻️ Waste logged ${kg} kg on ${d}`}}];"
      },
      "id": "w3",
      "name": "Format",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "response": {
            "responseFormat": "json"
          }
        },
        "url": "={{$items(\"Config\")[0].json.SLACK_WEBHOOK_URL}}",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={\"text\": $json.text}"
      },
      "id": "w4",
      "name": "Send Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200
      },
      "id": "w5",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 2,
      "position": [
        1280,
        300
      ]
    }
  ],
  "connections": {
    "Webhook /waste-log": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Send Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Asia/Kolkata"
  }
}